*{
    margin: 0;
    padding: 0;
}
.carbon {
    width: 100%;
  }
  
  iframe {
    width: 85% !important;
    min-height: 40vh ;
    border: 0;
    transform: scale(1);
    overflow: hidden;
    display: block !important;
  }
body{
    display: grid;
    grid-template-rows: 8.6rem 20fr ;
}
nav{
    border: 1px solid black;
}
main{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.sidebar{
    border: 1px solid black;
}
.sidebar-item{
    padding: 0.8rem 1.5rem;
    font-size: 1.8rem;
    font-weight: bolder;
    margin-left: 1.6rem;
    list-style: none;
    cursor: pointer;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.components{
    border: 1px solid black;
    position: relative;
    padding: 2rem;

}


.div-ch{
    margin-bottom: 2.5rem;
}

.sub-cont{
    display: flex;
    justify-content: space-around;
    width: 85%;
}
.code{
    display: flex;
}