<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/docs.css">
    <title>Even UI | Cards</title>
</head>

<body>
    <nav>
        <div class="nav-bar">
            <ul class="nav-list">
                <li class="nav-items"><img class="nav-icon" src="/images/undraw_nature_m5ll.svg" alt=""></li>
                <a href="/index.html"> <li class="nav-items">Home</li></a>
                <li class="nav-items">Products</li>
                <li class="nav-items">About us</li>
            </ul>
            <ul class="nav-list">
                <li class="nav-items">Cart</li>
                <li class="nav-items">Wishlist</li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="sidebar">
            <ul>
                <a href="/components/1avatar.html">
                    <li class="sidebar-item">Avatars</li>
                </a>
                <a href="/components/2badge.html">
                    <li class="sidebar-item">Badge</li>
                </a>
                <a href="/components/3alerts.html">
                    <li class="sidebar-item">Alert</li>
                </a>
                <a href="/components/4button.html">
                    <li class="sidebar-item">Buttons</li>
                </a>
                <a href="/components/5cards.html">
                    <li class="sidebar-item">Cards</li>
                </a>
                <a href="/components/6image.html">
                    <li class="sidebar-item"> Image</li>
                </a>
                <a href="/components/7input.html">
                    <li class="sidebar-item">Input Fields</li>
                </a>
                <a href="/components/8lists.html">
                    <li class="sidebar-item">Lists</li>
                </a>
                <a href="/components/9navbar.html">
                    <li class="sidebar-item">Nav Bar</li>
                </a>
                <a href="/components/10grid.html">
                    <li class="sidebar-item">Grid</li>
                </a>
                <a href="/components/11textut.html">
                    <li class="sidebar-item">Text Utilities</li>
                </a>
            </ul>
        </div>
        <div class="components">
            <div class="sub-comp">
                <div>
                    <h2>Card</h2>
                    <div class="card">
                        <span class="prod-badge">Trending</span>
                        <img class="prod-img"
                            src="/images/m-cc201-dustypink-dennis-lingo-original-imafueutmgyvtfdr.jpeg" alt="">
                        <h3>Product name</h3>
                        <div class="price">
                            <p>₹ 999</p>
                            <p class="price-orig">₹ 1599</p>
                            <p>(45% off)</p>
                        </div>
                        <p>Ratings</p>
                        <div class="prod-btns">
                            <button class="btn btn-primary">Add to Cart</button>
                            <button class="btn">❤️</button>
                        </div>
                    </div>
                    <div class="card-horiz">
                        <span class="prod-badge">Trending</span>
                        <img class="prod-img-horiz"
                            src="/images/m-cc201-dustypink-dennis-lingo-original-imafueutmgyvtfdr.jpeg" alt="">
                        <div class="card-sub-div-horiz">
                            <h3>Product name</h3>
                            <div class="price">
                                <p>₹ 999</p>
                                <p class="price-orig">₹ 1599</p>
                                <p>(45% off)</p>
                            </div>
                            <p>Ratings</p>
                            <div class="prod-btns">
                                <button class="btn btn-primary">Add to Cart</button>
                                <button class="btn">❤️</button>
                            </div>
                        </div>
                    </div>
                    <div class="text-card">
                        <h3>Title of Card</h3>
                        <p class="text-card-tagline">Any tagline or thing you like</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed architecto unde esse repellat
                            delectus possimus incidunt ratione, doloremque facere quas reprehenderit. Laborum quas modi
                            officia, perferendis itaque numquam corporis vel.</p>
                    </div>
                    <div class="text-card-horiz">
                        <h3>Title of Card</h3>
                        <p class="text-card-tagline">Any tagline or thing you like</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed architecto unde esse repellat
                            delectus possimus incidunt ratione, doloremque facere quas reprehenderit. Laborum quas modi
                            officia, perferendis itaque numquam corporis vel.</p>
                    </div>
                    <div class="overlay-text-card">
                        <img class="overlay-img" src="/images/The-Best-Harvey-Specter-Quotes.jpg" alt="">
                        <h3 class="overlay-text">Winners don't make excuses, when the other side gets to play </h3>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>